#map {
	height: 100%;
	width: 70%;
	float: left;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url('Images/1.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

hr {
	margin-top: 0px !important;
	margin-bottom: 2px !important;
	border: 0;
	border-top: 2px solid black !important;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input .style {
	z-index: 0;
	position: absolute;
	left: 76px;
	top: 6px;
}

#destination-input .absolute {
	z-index: 0;
	position: absolute;
	left: 2px;
	top: 53px;
}

#origin-input {
	background-color: #dcdcdc;
	font-family: -webkit-pictograph;
	font-size: 20px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#origin-input:focus {
	border-color: #4d90fe;
}

#destination-input {
	background-color: #dcdcdc;
	font-family: -webkit-pictograph;
	font-size: 20px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
	z-index: 0;
	position: absolute;
	left: 2px;
	top: 53px;
}

#destination-input:focus {
	border-color: #4d90fe;
}

#mode-selector {
	color: #fff;
	background-color: #4d90fe;
	margin-left: 12px;
	padding: 5px 11px 0px 11px;
}

#mode-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: left;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-right .5s;
	padding: 16px;
	float: right;
}

#title {
	font-family: "Allerta Stencil", Sans-serif;
	font-size: 50px;
	text-align: center;
	padding: 16px;
	float: center;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.input-group-addon img {
	height: 50px;
	margin-right: -5px;
	margin-bottom: -10px;
	vertical-align: text-bottom; /* align the text */
}

.heading {
	font-size: 50px;
	font-family: "Allerta Stencil", Sans-serif;
	text-align: center;
	background-color: black;
	color: white;
}

.submit {
	font-size: 1.1em;
	width: 150px;
	background-color: transparent;
	color: #fff;
}

.d-flex flex-row-reverse {
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
	width: 30%;
}

#source {
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#destination {
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-lg {
	padding: 7px 50px !important;
	font-weight: 600 !important;
	letter-spacing: 1px;
}