body,h1,h5 {
font-family: "Raleway", sans-serif !important;
}

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
  font-size: 80px;
}

body, html{height: 100%}

.bgimg {
	background-image: url('../CSS/Images/backgroundcar.jpg');
	min-height: 100%;
    background-position: center;
    background-size: cover;
}

h4, .close {
    background-color: black;
    color:white !important;
    text-align: center;
    font-size: 30px !important;
    height: 100%
}

.container-header {
    background-color: black;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

.footer {
      background-color: #f9f9f9;
}

.container{
  width: 400px !important;
  margin-left: auto;
  margin-right: auto;
  background: white;
  align-content: center;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.etc-login-form {
	color: black;
	padding: 10px 20px;
}

.etc-login-form p {
	margin-bottom: 5px;
}

.login-form-1 {
	max-width: 100%;
	border-radius: 5px;
	display: inline-block;
}

.main-login-form {
	position: relative;
}

.login-form-1 .form-control {
	border: 0;
	box-shadow: 0 0 0;
	background: transparent;
	color: #555555;
	padding: 7px;
	font-weight: bold;
	height: auto;
	border: 1px solid #ccc;
  border-radius: 4px;
}

.login-group {
	background: #ffffff;
	color: black;
	border-radius: 8px;
	padding: 10px 20px;
}


label.form-invalid {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	display: block;
	margin-top: -25px;
	padding: 7px 9px;
	background: #777777;
	color: #ffffff;
	border-radius: 5px;
	font-weight: bold;
	font-size: 11px;
}

label.form-invalid:after {
	top: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #777777;
	border-width: 6px;
}

.login-form-main-message {
	background: #ffffff;
	color: #999999;
	border-left: 3px solid transparent;
	border-radius: 3px;
	margin-bottom: 8px;
	font-weight: bold;
	height: 0;
	padding: 0 20px 0 17px;
	opacity: 0;
	transition: all ease-in-out 200ms;
}

.login-form-main-message.show {
	height: auto;
	opacity: 1;
	padding: 10px 20px 10px 17px;
}

.login-form-main-message.success {
	border-left-color: #2ecc71;
}

.login-form-main-message.error {
	border-left-color: #e74c3c;
}
