html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h {
	font-size: 40px;
	font-family: Times New Roman;
	text-align: center !important;
	color: black !important;
}

p {
	font-size: 30px;
	font-family: Ubuntu;
	text-align: center !important;
	color: black !important;
}

h1 {
	font-size: 25px !important;
	margin-top: 20px !important;
 	margin-bottom: 20px !important;
}

.submit {
	font-size: 1.1em;
	width: 200px;
	background-color: #424242 !important;
	color: white !important;
	float: right;
}

.glyphicon {  
	margin-bottom: 10px;
	margin-right: 10px;
}

p1{
	font-size: 18px !important;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: left;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-right .5s;
	padding: 16px;
	float: right;
	color: white;
}

#title {
	font-family: "Allerta Stencil", Sans-serif;
	font-size: 50px;
	text-align: center;
	float: center;
	padding: 16px;
	background-color: #424242;
	color: white;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.input-group-addon img {
	height: 50px;
	margin-right: -5px;
	margin-bottom: -10px;
	vertical-align: text-bottom; /* align the text */
}

.heading {
	font-size: 50px;
	font-family: "Allerta Stencil", Sans-serif;
	text-align: center;
	background-color: #424242;
	color: white;
}


hr {
	margin-top: 0px !important;
	margin-bottom: 2px !important;
	border: 0;
	border-top: 2px solid black !important;
}

.thead{
	color: white;
	background-color: black;
	border-color: #9e9e9e;
}

.table-responsive{
	border-color: black;
}
