#map {
	height: 83%;
	width: 70%;
	float: left;
}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h {
	font-family: Times New Roman;
	font-size: 20px;
	line-height: 1.42857143;
	color: #333;
}

span.tab-space {
	padding-left:6em;
}

.controls {
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;

}

.control {
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	text-align: center;
	width: 350px;
	font: 20px;
}

#origin-input .style {
	z-index: 0;
	position: absolute;
	left: 76px;
	top: 10px;
}

#destination-input .absolute {
	z-index: 0;
	position: absolute;
	left: 2px;
	top: 53px;
}

#origin-input {
	background-color: #212121;
	color: white !important;
	font-family: -webkit-pictograph;
	font-size: 20px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#origin-input:focus {
	border-color: #4d90fe;
}

#destination-input {
	background-color: #212121;
	color: white !important;
	font-family: -webkit-pictograph;
	font-size: 20px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
	z-index: 0;
	position: absolute;
	left: 2px;
	top: 53px;
}

#destination-input:focus {
	border-color: #4d90fe;
}

#mode-selector {
	    color: rgba(255, 255, 255, 0);
	    background-color: rgba(33, 33, 33, 0);
	    margin-left: 12px;
	    padding: 5px 11px 0px 11px;
}

#mode-selector label {
	font-family: Roboto;
	font-size: 13px;

}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align: left;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-right .5s;
	padding: 16px;
	float: right;
	color: white;
}

#home {
	
	padding: 16px;
	float: left;
	color: white;
}

#title {
	font-family: "Allerta Stencil", Sans-serif;
	font-size: 50px;
	text-align: center;
	float: center;
	padding: 16px;
	background-color: #424242;
	color: white;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.input-group-addon img {
	height: 50px;
	margin-right: -5px;
	margin-bottom: -10px;
	vertical-align: text-bottom; /* align the text */
}

.heading {
	font-size: 50px;
	font-family: "Allerta Stencil", Sans-serif;
	text-align: center;
	background-color: #424242;
	color: white;
}

.submit {
	font-size: 1.1em;
	width: 200px;
	background-color: #424242 !important;
	color: white !important;
	font-family: "Comic Sans MS", cursive, sans-serif; 
}

.selectpicker {
	font-size: 1.3em !important;
	width: 150px;
	background-color: white !important;
	color: #424242 !important;
	font-family: Times New Roman !important;
	border-color: #424242;
	border-radius: 2px;
}

.d-flex flex-row-reverse {
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
	width: 30%;
}

.col-md-offset-6 {
	background-color: #fafafa;
}

#source, #destination, #costEstimate, #timeEstimate, #distanceEstimate {
	font-size: 20px;
	font-family: Times New Roman;
	color: #616161;
}

hr {
	margin-top: 0px !important;
	margin-bottom: 2px !important;
	border: 0;
	border-top: 2px solid black !important;
}