html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}	 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
	transition: margin-right .5s;
	padding: 16px;
	float: right;
	color: white;
}

#title {
	font-family: "Allerta Stencil", Sans-serif;
	font-size: 50px;
	text-align: center;
	float: center;
	padding: 16px;
	background-color: #424242;
	color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1{
	font-family: "Allerta Stencil", Sans-serif !important;
	text-align: center;
	font-size: 50px !important;
	margin-top: 20px !important;
 	margin-bottom: 20px !important;
}

h2{
	font-size: 25px !important;
	margin-top: 20px !important;
 	margin-bottom: 20px !important;
}

.glyphicon {  
	margin-bottom: 10px;
	margin-right: 10px;
}

p{
	font-size: 18px !important;
}