body, h1, h5 {
	font-family: "Raleway", sans-serif
}

.w3-allerta {
	font-family: "Allerta Stencil", Sans-serif;
	font-size: 80px;
}

body, html {
	height: 100%
}

.bgimg {
	background-image: url('Images/backgroundcar.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
	max-width: 420px;
	padding: 30px 38px 66px;
	margin: 0 auto;
	background-color: #eee;
	border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
	text-align: center;
	margin-bottom: 30px;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

input[type="text"] {
	margin-bottom: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal-header, h4, .close {
	background-color: black;
	color: white !important;
	text-align: center;
	font-size: 30px;
}

.modal-footer {
	background-color: #f9f9f9;
}

hr {
	margin-top: 0px !important;
	margin-bottom: 2px !important;
	border: 0;
	border-top: 2px solid black !important;
}

.btn-lg {
	padding: 10px 40px;
	font-size: 40px;
	border-radius: 10px;
	font-family: "Allerta Stencil", Sans-serif;
}